.content .cube-index-list-anchor {
  padding: 0px !important;
}
.bgf4 .cube-index-list-content {
  background-color #f4f4f4
}
.warp {
  display block !important
  height 100% !important
}
.content {
  height 100% !important
}
.order_list .cube-index-list-content {
  background-color #f4f4f4
}
.order_list .cube-index-list-item{
  margin-bottom :0.19rem;
}
.main-content .recommend-list .swiper-slide {
  width: 168px !important;
}
.video-js .vjs-big-play-button{
  /*
  播放按钮换成圆形
  */
  height: 2em;
  width: 2em;
  line-height: 2em;
  border-radius: 1em;
  margin-left: -1rem;
}
.vjs-custom-skin > .video-js .vjs-big-play-button {
  margin-left: -1em !important;
}
.img-vuer img {
  left: 0px !important;
}
.distpicker-address-wrapper{
  height: calc(100% - 7rem) !important;
  overflow-y: auto;
  font-size: 0.28rem !important;
}
.vjs-modal-dialog-content {
  display: none
}
.vjs-error .vjs-error-display:before {
  display: none !important;
  color: #fff;
  content: 'X';
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4em;
  left: 0;
  line-height: 1;
  margin-top: -0.5em;
  position: absolute;
  text-shadow: 0.05em 0.05em 0.1em #000;
  text-align: center;
  top: 50%;
  vertical-align: middle;
  width: 100%;
}
.amap-adcombo-close {
  width: 22px;
  height: 22px;
  top: calc(0.4rem - 10px) !important;
}
.goType-con>.active {
  color: #fdb900;
  border: #fdb900 0.5px solid !important;
}
.byFoot .icon {
  background-image: url(../assets/images/mapTour/buxing@3x.png);
  background-size: 100% 100%;
}
.byBus .icon {
  background-image: url(../assets/images/mapTour/gongjiao@3x.png);
  background-size: 100% 100%;
}
.byCar .icon {
  background-image: url(../assets/images/mapTour/jiaoche@3x.png);
  background-size: 100% 100%;
}
.byFoot .active {
  background-image: url(../assets/images/mapTour/buxing1@3x.png);
  background-size: 100% 100%;
}
.byBus .active {
  background-image: url(../assets/images/mapTour/gongjiao1@3x.png);
  background-size: 100% 100%;
}
.byCar .active {
  background-image: url(../assets/images/mapTour/jiaoche1@3x.png);
  background-size: 100% 100%;
}
.confirmGo .icon {
  background-image: url(../assets/images/mapTour/quzheli@3x.png);
  background-size: 100% 100%;
}
// 只有商家和景点才有详情
.facility-type .detailType3{
  display: inline-block !important;
}
.facility-type .detailType4{
  display: inline-block !important;
}
.order_food_list .cube-index-list-content { // 订餐页面防止底部阴影被覆盖
  margin-bottom: 5px !important;
}
// .order_food_list .cube-index-list-content ul {
//   padding-top: 0.8rem;
// }
// .info-background .weui-wepay-flow__bd {
//   float:left;
//   width: 100%;
//   background: white;
//   margin-bottom: 0.2rem;
// }